.main-title {
    text-align: center;
}

.second-title {
    font-weight: bold;
}

.income {
    margin-bottom: 20px;
}

.button {
    color: black;
    background-color: white;
    border: 1px solid #555;
    padding: 5px 3px;
    height: 40px;
    width: 70px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    background-color: #FF7F50;
    transition: background 1s;
}

.form-input {
    margin-bottom: 20px;
}

.father-flex {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: 
    justify-content: flex-start;
    align-items: center;
}

.child-flex {
    
}

form input[type='number'] {
    border: 0;
    border-bottom: 1px solid black;
    outline: none;
}

.label-spacing {
    margin-bottom: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
    margin: 0;
}


