* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;  /* Alterar */
}

/* Background */
.bg {
    height: 100%;
    
    background-color: #EFEFEF;
    margin: 40px;
    padding: 40px;
}

/* Spacing Form */
.spacing-form {
    margin-right: 100px;
}

/* Btn Style */
.btn-style {
    width: 100px;
    height: 40px;
    
    text-align: center;
    cursor: pointer;
}

/* Btn Bruto */
.btn-bruto {
    margin-right: -2px;
}

/* Btn Líquido */
.btn-liquido {
    margin-left: -2px;
}

/* Form Input */
form input[type="radio"]:checked+label{
    background-color: white !important;
    color: black !important;
}

/* Btn Last */
.btn-clean {
    background-color: #969696;
    margin-left: 0;
    border-radius: 10px;
    width: 200px;
    font-weight: bold;
    height: 60px;
}

/* Btn Simulate */
.btn-simulate {
    background-color: #969696;
    margin-left: 0;
    border-radius: 10px;
    width: 200px;
    font-weight: bold;
    height: 60px;
}

.btn-result {
    width: 300px;
    height: 60px;
    border: 2px solid green;

    
}

input[type="text"] {
    outline: none;
    max-width: 200px;
    width: 100%;
    background-color: #EFEFEF;

    border: 0 !important;
    border-bottom: 1px solid black !important;
}
