* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;  /* Alterar */
}

/* Background */
.bg {
    height: 100%;
    background-color: #EFEFEF;
    margin: 40px;
    padding: 40px;
}

/* Spacing Form */
.spacing-form {
    margin-right: 100px;
}

/* Btn Bruto */
.btn-bruto {
    padding: 7px 25px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Btn Liquido */
.btn-liquido {
    padding: 7px 18px !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Form Input */
form input[type="radio"]:checked+label{
    background-color: white !important;
    color: black !important;
}

.btn-pre-pos {
    padding: 7px 12px !important;
}

/* Btn Clean */
.btn-clean {
    background-color: #EFEFEF;
    margin-left: 0;
    border-radius: 10px;
    width: 200px;
    font-weight: bold;
    height: 60px;
}

/* Btn Simulate */
.btn-simulate {
    background-color: #EFEFEF;
    margin-left: 0;
    border-radius: 10px;
    width: 200px;
    font-weight: bold;
    height: 60px;
}

.btn-simulate:hover {
    background-color: #ED8E53;
}

/* Btn Result */
.btn-result {
    width: 200px;
    height: 80px;
    background-color: white;
    text-align: center;
    margin: 10px 50px 0px 0px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #DDDDDD;
}

input[type="text"] {
    outline: none;
    max-width: 200px;
    width: 100%;
    background-color: #EFEFEF;
    border: 0 !important;
    border-bottom: 1px solid black !important;
}

label[type="button"]:hover {
    background-color: #ED8E53 !important;
}